@use "./button.scss";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    background:
        radial-gradient(circle at top, rgba(207, 35, 66, 0.14), transparent 34%),
        linear-gradient(180deg, #151515 0%, #101010 100%);
    color: whitesmoke;
    font-family: monospace;
}

.toggleAuthForm {
    color: rgb(229, 117, 117);
    cursor: pointer;
    text-decoration: none;
}
